<?xml version="1.0" encoding="utf-8"?>
<manifest package="fm.weigl.refsberlin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--add your own api key here-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="26a6eeb108613d425be8ad7f115674fde5d74f68"/>

    </application>

</manifest>